.signUp{
    width: 80%;
    height: 80%;
    background:url('./../../images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start ;
    box-shadow: 18px 18px 18px 12px rgba(0, 0, 0, 0.2);
}
.signUpDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}
.formName{
    display: flex;
    flex-direction: row;
}

.formName input{
    width: 185px;
    height: 50px;
    border: 1px double #23966F;
}

.signup-btn{
    --c: #23966F;
    color: var(--c);
    font-family: Gilroy-ExtraBold,serif;
    font-size: large;
    border: 0.1em solid var(--c);
    border-radius: 1.2em;
    width: 12em;
    height: 3.1em;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    cursor: pointer;
}

.warning{
    margin-top: 5px;
    color: red;
    padding-left: 30px;
}
@media only screen and (max-width: 768px){
    .signUp{
        width: 84%;
        height: 570px;
        box-shadow: 18px 18px 18px 12px rgba(0, 0, 0, 0.2);
        align-items: center;
        
        
    }
    .formName input{
        width: 300px;
        height: 50px;
        margin: 18px 10px 0px;
    }
    .formName{
        display: flex;
        flex-direction: column;
    }
    .warning{
        margin-top: 5px;
        color: red;
        font-size: 14px;
        padding-left: 40px;
    }
    }